:host {
  display: block;
  height: 100vh;
  background-color: #f8f9fa; // Un gris muy claro para el fondo
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.auth-card {
  width: 100%;
  max-width: 450px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  border: 1px solid #e9ecef; // Un borde sutil
}
